

$primary-blue:#0D6EFD;
$primary-green:#2ECC40;
$primary-yellow:#FFDC00;
$primary-orange:#FF851B;
$primary-red:#FF4136;
$primary-violet:#B10DC9;
$primary-grey:#AAAAAA;
$text-grey:#4A4A4A;
$text-black:#0D0C22;
$ternery-grey:#F4F4F4;
$white:#ffffff;
$light-blue:#e5eaf2;
$black:#101418;
$blue:#007fff;



$secondary-blue:#E5F0FF;
$secondary-red:#FFEBE5;
$secondary-yellow:#FFF9D2;
$secondary-orange:#FFEDDF;
$secondary-violet:#F4E5F9;
$secondary-green:#E2FFEB;
$secondary-grey:#dee2e6;

$primary-text:#ffffff;
$surface-bg:#ffffff;
$text-color:$primary-grey;
$secondary_text-color:$secondary-grey;


