
@import '../../Styles//colors';

// .tabContainer{
//     height:48px;
//     padding-inline: 16px;
//     padding-block: 16px;
//     display: flex;
//     align-items: center;
//     font-size: 14px;
   
// }
.TabButton{
    padding-inline: 8px;
    padding-block: 12px;
    border:none;
    background-color: $surface-bg;
    // display: flex;
    // align-items: center;
    font-size: 14px;
    
}
