
@import '../../Styles//colors';

.TabButton{
    padding-inline: 12px;
    padding-block:8px;
    border:none;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    color: $text-grey;
    font-family: 'Roboto', sans-serif;
    
}
.active{
    background-color: $secondary-blue;
    color:$primary-blue;
}
.TabButton:hover{
    background-color: $ternery-grey;
    color:$text-black
    
}
