@import '../../Styles//colors';

.Tab_wrapper{
    display: flex;
    padding-left: 48px;
    border-bottom: 1px solid $secondary-grey;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 232px; /* Stick to the top of the viewport */
    z-index: 100;
    background-color: $surface-bg;
    height: 56px;
}
.tabs{
    display: flex;
    align-items: center;
    gap:16px

}