@import '../../Styles//colors';

.Tab_wrapper{
    display: flex;
    padding-left: 48px;
    border-bottom: 1px solid $secondary-grey;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 232px; /* Stick to the top of the viewport */
    z-index: 100;
    background-color: $surface-bg;
    height: 56px;
}
.tabBorder{
    height: 3px;
    width: 3.33%;
    background-color: blue;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transform: translateX(calc((var(--active-tab) - 1) * 103.33%));
    width: var(--tab-width, 100px); /* Default width */
}
.tabs{
    display: flex;
    align-items: center;
    gap:16px

}