@import '../../Styles//colors';

.searchContainer{

    padding-inline:  48px;
    padding-block: 16px;
    position: sticky;
    background-color: $surface-bg;
    top: 180px; /* Stick to the top of the viewport */
    z-index: 100;
    form{
        input[type="search"]{
            width: 100%;
            padding: 12px;
            border: 1px solid $secondary-grey;
            border-radius: 5px;
            padding-left: 30px;
            color:$primary-grey;

        }
        input:focus {
            border: 1px solid $primary-grey;
            outline: none;
            background-color: $ternery-grey;
        }
        input::placeholder {
            color:$primary-grey; /* You can change the color to your preference */
          }

    }

}