@import './Styles/colors';


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px; /* Color of the scrollbar thumb */
  }

//pages only

.login {
    display: flex;
    height: 100%;

    .left_container {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        align-items: center;
        background-color: #B10DC9;

        img {
            width: 80%;
            height: auto;
            filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));

        }

        h3 {
            color: #fff;
            font-size: 20px;
        }

        .floating-image {
            display: flex;
            justify-content: center;
            align-items: center;
            animation: float 5s ease-in-out infinite;
        }

        @keyframes float {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }
        }
    }

    .right_container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F4E5F9;
        width: 50%;
        height: 100vh;
        padding-inline: 30px;

    }
}

.welcomeBadge_container {
    position: sticky;
    background-color: $surface-bg;
    top: 48px;
    /* Stick to the top of the viewport */
    z-index: 100;
    padding-inline: 48px;
    padding-block: 16px;

}

.container {

    .error-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block: 20px;
        gap: 8px;
        min-height: 50vh;

        p {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }

    .noResult {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        gap: 8px;

        p {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
        }
    }
}

.calender {
    display: flex;
    padding-inline: 48px;
    gap: 8px;

    .calender_wrapper {
        display: flex;
        flex-direction: column;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px
        }
    }

    .fullcalender {
        width: 100%;
        min-height: 50vh;
    }


}

.EventForm {
    width: 64vw;
    display: flex;
    gap: 24px;

    .detailWrapper {
        width: 60%;
        height: 72vh;
        overflow-y: auto;

        // background-color: #B10DC9;
        .heading {
            padding-block: 8px;
            padding-left: 16px;
            p{
                font-size: 14px;
                font-family: 'Nunito', sans-serif;
                color: $text-grey;
            }
        }


        .flex-wrapper {
            display: flex;
        }

        .input-container {
            padding-inline: 16px;
            padding-block: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            select,
            textarea,
            input[type="text"],
            [type="date"],
            [type="time"] {
                width: 100%;
                padding: 8px;
                border: 1px solid $primary-grey;
                border-radius: 5px;
                padding-left: 30px;
                color: #4A4A4A;
            }

            #title {
                width: 100%;
                padding: 15px;
                border: 1px solid $primary-grey;
                border-radius: 5px;
                padding-left: 30px;
                color: #4A4A4A;
                outline: none;

                &:focus {
                    border: 1px solid $primary-blue;
                    outline: none;
                    background-color: $secondary-blue;
                }

            }

            input:focus {
                border: 1px solid $primary-blue;
                outline: none;
                background-color: $secondary-blue;
            }

            .error-message {
                color: $primary-red;
                font-size: 12px;
                font-family: 'Nunito', sans-serif;
                align-self: flex-start;
            }

        }

    }

    .peopleWrapper {
        width: 40%;
        height: 70vh;
        overflow-y: auto;
        .heading {
            padding-block: 8px;
            padding-left: 16px;
            p{
                font-size: 14px;
                font-family: 'Nunito', sans-serif;
            }
        }

        .input-container {
            padding-inline: 16px;
            padding-block: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="text"] {
                width: 100%;
                padding: 8px;
                border: 1px solid $primary-grey;
                border-radius: 5px;
                padding-left: 30px;
                color: #4A4A4A;
            }


            input:focus {
                border: 1px solid $primary-blue;
                outline: none;
                background-color: $secondary-blue;
            }


        }
        .organizer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 16px;
            padding-block: 8px;
            border-bottom: 1px solid $ternery-grey;
            .name{
                font-size: 13px;
                font-family: 'Nunito', sans-serif;
                color:$text-black;
                font-weight: 500;
            }
            .email{
                font-size: 12px;
                color: $text-grey;
                font-family: 'Nunito', sans-serif;
            }
            .tag{
                .organizer{
                    padding-inline: 8px;
                    padding-block: 8px;
                    background-color: $ternery-grey;
                    color:$text-black;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    border-radius: 5px;

                }
            }

            
        }
        .attendees-wrapper{
            display: flex;
            flex-direction: column;
            gap: 8px;

            .attendees{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 16px;
                padding-block: 8px;
                border-bottom: 1px solid $ternery-grey;
                .name{
                    font-size: 13px;
                    font-family: 'Nunito', sans-serif;
                    color:$text-black;
                    font-weight: 500;
                }
                .email{
                    font-size: 12px;
                    color: $text-grey;
                    font-family: 'Nunito', sans-serif;
                }
                .tag{
                    button{
                        padding-inline: 8px;
                        padding-block: 8px;
                        background-color: $secondary-blue;
                        color:$primary-blue;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        border-radius: 5px;
                        border: none;
                    }
                }
            }

        }
        
    }

}



@media only screen and (max-width: 768px) {
    .login {
        .left_container {
            display: none;
        }

        .right_container {
            width: 100%;

        }
    }

}