@import './Styles/colors';


*{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
}
//pages only

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap:16px;

   
}

.welcomeBadge_container{
    position: sticky;
    background-color: $surface-bg;
    top: 48px; /* Stick to the top of the viewport */
    z-index: 100;
    padding-inline: 48px;
    padding-block: 16px;

}
