@import './Styles/colors';


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
    /* Color of the scrollbar thumb */
}

//pages only

.login {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-inline: 72px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, $primary-violet, $primary-blue);

    img {
        width: 70%;
        height: auto;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));

    }

    h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 32px;
    }

    .floating-image {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: float 5s ease-in-out infinite;
    }

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }
}

.welcomeBadge_container {
    position: sticky;
    background-color: $surface-bg;
    top: 48px;
    /* Stick to the top of the viewport */
    z-index: 100;
    padding-inline: 48px;
    padding-block: 16px;

}

.container {

    .error-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block: 20px;
        gap: 8px;
        min-height: 50vh;

        p {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }

    .noResult {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        gap: 8px;

        p {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
        }
    }
}

.calender {
    display: flex;
    padding-inline: 48px;
    padding-block: 16px;
    gap: 8px;

    .calender_wrapper {
        display: flex;
        flex-direction: column;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px
        }
    }

    .fullcalender {
        width: 100%;
        min-height: 50vh;
    }


}


.form-buttons {
    width: 100%;
    padding-inline: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;

    button {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: 5px;
        border: none
    }

    button[type="submit"] {
        background-color: $primary-blue;
        color: $primary-text;
        &:hover{
            cursor:pointer;
        }
    }

    .cancel-button {
        background-color: $white;
        color: $primary-red;
        border: 1px solid $primary-red;
        &:hover{
            cursor:pointer;
        }
    }
}

.EventForm {
    width: 64vw;
    display: flex;
    gap: 24px;

    .detailWrapper {
        width: 60%;
        min-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;

        // background-color: #B10DC9;
        .heading {
            padding-block: 4px;
            padding-left: 16px;
            margin-bottom: 8px;

            p {
                font-size: 14px;
                font-family: 'Nunito', sans-serif;
                color: $text-black;
            }
        }


        .flex-wrapper {
            display: flex;
        }

        .input-container {
            padding-inline: 16px;
            padding-block: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .input-content {
                display: flex;
                width: 100%;
                align-items: flex-start;

                select,
                textarea,
                input[type="text"],
                [type="date"],
                [type="time"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid $primary-grey;
                    border-radius: 5px;
                    padding-left: 30px;
                    color: #4A4A4A;
                    margin-left: 16px;
                }

                button {
                    padding-inline: 8px;
                    padding-block: 8px;
                    margin-left: 16px;
                    border-radius: 5px;
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: $text-black;
                    background-color: $ternery-grey;

                    &:hover {
                        color: $primary-blue;
                        background-color: $secondary-blue;
                    }
                }

                #EndDate {
                    margin-left: 36px;
                }

                input:focus,
                select:focus,
                textarea:focus {
                    border: 1px solid $primary-blue;
                    outline: none;
                    background-color: $light-blue;
                }

                input::placeholder,
                select::placeholder,
                textarea::placeholder {
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 1px;
                }

                select {
                    option {
                        color: $text-grey;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        background-color: $light-blue;
                    }
                }
            }


            #title {
                width: 100%;
                padding: 15px;
                border: 1px solid $primary-grey;
                border-radius: 5px;
                padding-left: 30px;
                color: #4A4A4A;
                outline: none;

                &::placeholder {
                    font-size: 18px;
                }

                &:focus {
                    border: 1px solid $primary-blue;
                    outline: none;
                    background-color: $light-blue;
                }

            }



            .error-message {
                margin-left: 36px;
                color: $primary-red;
                font-size: 12px;
                font-family: 'Nunito', sans-serif;
                align-self: flex-start;
            }

            .selected {
                padding-inline: 8px;
                padding-block: 4px;
                margin-top: 4px;
                background-color: $ternery-grey;
                color: $text-grey;
                width: 100%;
                height: 20px;
                font-size: 12px;
                display: flex;
                align-items: center;
                border-radius: 5px;

            }

        }

    }

    .peopleWrapper {
        width: 40%;
        height: 70vh;
        overflow-y: auto;

        .heading {
            padding-block: 4px;
            padding-left: 16px;
            margin-bottom: 8px;

            p {
                font-size: 14px;
                font-family: 'Nunito', sans-serif;
                color: $text-black;
            }
        }

        .input-container {
            padding-inline: 16px;
            padding-block: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .input-content {
                display: flex;
                width: 100%;
                align-items: flex-start;

                label {
                    margin-right: 16px;
                }

                /* Vertically center the icon and input */
            }

            input[type="text"] {
                width: 100%;
                padding: 8px;
                border: 1px solid $primary-grey;
                border-radius: 5px;
                padding-left: 30px;
                color: #4A4A4A;
            }


            input:focus {
                border: 1px solid $primary-blue;
                outline: none;
                background-color: $light-blue;
            }

            input::placeholder {
                font-family: 'Roboto', sans-serif;
            }



        }

        .organizer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 16px;
            padding-block: 8px;
            border-bottom: 1px solid $ternery-grey;

            .name {
                font-size: 13px;
                font-family: 'Nunito', sans-serif;
                color: $text-black;
                font-weight: 500;
            }

            .email {
                font-size: 12px;
                color: $text-grey;
                font-family: 'Nunito', sans-serif;
            }

            .tag {
                .organizer {
                    padding-inline: 8px;
                    padding-block: 8px;
                    background-color: $ternery-grey;
                    color: $text-black;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    border-radius: 5px;

                }
            }


        }

        .attendees-wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .attendees {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 16px;
                padding-block: 8px;
                border-bottom: 1px solid $ternery-grey;

                .name {
                    font-size: 13px;
                    font-family: 'Nunito', sans-serif;
                    color: $text-black;
                    font-weight: 500;
                }

                .email {
                    font-size: 12px;
                    color: $text-grey;
                    font-family: 'Nunito', sans-serif;
                }

                .tag {
                    button {
                        padding-inline: 8px;
                        padding-block: 8px;
                        background-color: $secondary-blue;
                        color: $primary-blue;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        border-radius: 5px;
                        border: none;
                    }
                }
            }

        }

    }

}



.event-container {
    padding-inline: 48px;
    padding-block: 24px;
    width: 100%;

    .error-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block: 20px;
        gap: 8px;
        min-height: 50vh;

        p {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }

    .noResult {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        gap: 8px;

        p {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
        }
    }

    .event-wrapper {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        background-color: $surface-bg;

        .event-header {
            width: 100%;
            padding-inline: 24px;
            padding-block: 24px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height: 160px;
            display: flex;
            flex-direction: column;
            gap: 48px;

            .event-heading {
                display: flex;
                justify-content: space-between;

                .editEvent {
                    button {
                        background-color: transparent;
                        color: $primary-text;
                        border: none;

                        &:hover {
                            cursor: pointer;

                        }
                    }
                }

                h2 {
                    color: $primary-text;
                    font-family: 'Nunito', sans-serif;
                    letter-spacing: 2px;

                }

                p {
                    color: $primary-text;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                }

            }

            .event-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;

                .details {
                    display: flex;
                    gap: 4px;
                    color: #fff;
                    font-size: 14px;
                    // p{

                    // }
                }
            }
        }

        .event-participants {
            width: 100%;
            background-color: $surface-bg;
            padding-inline: 24px;
            padding-block: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .participants {
                display: flex;
                flex-direction: column;
                gap: 8px;

                p {
                    font-size: 12px;
                    color: $primary-grey;
                    font-family: 'Nunito', sans-serif;

                }

                .profiles {
                    width: 48px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    img {
                        clip-path: circle(50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                }


            }

            .add-participants {
                button {
                    padding-inline: 8px;
                    padding-block: 8px;
                    background-color: $secondary-blue;
                    color: $primary-blue;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    border-radius: 5px;
                    border: none;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

        }

        .event-content {
            width: 100%;
            padding-inline: 16px;
            padding-block: 16px;

            .about {
                padding-inline: 16px;
                padding-block: 16px;

                p {
                    font-size: 14px;
                    line-height: 1.5rem;
                    font-family: 'Nunito', sans-serif;
                }
            }

            // background-color: #B10DC9;
        }
    }
}